{% extends "site.html" %}

{% block main %}
	<h2>Cadastro</h2>
	<form action="/inscricoes/inserir/{{ idEvento }}/{{ idUsuario }}" method="post">
		<div>
			<label>Nome:</label>
			<input name="nome" type="text" value="{{ inscricao['nome'] }}" />
		</div>
		<div>
			<label>E-mail:</label>
			<input name="email" type="email" value="{{ inscricao['email'] }}" />
		</div>
		<div>
			<label>Evento:</label>
			<select name="evento">
			{% for id, titulo in eventos %}
				{% if id == idEvento|int %}
					{% set checked = ' selected' %}
				{% endif %}
				<option value="{{ id }}"{{ checked }}>{{ titulo }}</option>
			{% endfor %}
			</select>
		</div>
		<div>
			<input type="submit" />
			<input type="reset" />
		</div>

	</form>
{% endblock %}