{% extends "site.html" %}

{% block titulo %}
EVENTOS
{% endblock %}

{% block main %}
	<h2>Lista</h2>
	<table class="table">
		<tr>
			<th>Nome</th>
			<th>Data/hora</th>
			<th>Ações</th>
		</tr>
		{% for evento in eventos %}
			{% set id, titulo, data = evento.values() %}
			{{ evento }}
		<tr>
			<td>{{ titulo }}</td>
			<td>{{ data }}</td>
			<td>
				<a href="/eventos/form/{{ id }}">editar</a>
				<a href="/eventos/apagar/{{ id }}">apagar</a>
			</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}