{% extends "site.html" %}

{% block main %}
	<h2>Cadastro CRUD</h2>
	<form method="post" action="/eventos/inserir/{{ id }}">
		<div>
			<label>Título:</label>
			<input name="titulo" type="text" value="{{ bean['titulo'] }}" />
		</div>
		<div>
			<label>Data e hora:</label>
			<input name="data" type="datetime-local" value="{{ bean['data'] }}" />
		</div>
		<div>
			<label>Descrição:</label>
			<textarea name="descricao"></textarea>
		</div>
		<div>
			<label>Imagem de divulgação:</label>
			<input name="imagem" type="file" />
		</div>
		<div>
			<input type="submit" />
			<input type="reset" />
		</div>

	</form>
{% endblock %}