<!DOCTYPE html>
<html>
<head>
	<title>{% block titulo %}{% endblock %} - Cadastrar</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous" />
	<meta charset="utf-8" />
</head>
<body>
	<h1 class="title"><a href="index.html">Admin</a></h1>
	
	<nav>
		<ul>
			<li>Eventos
				<ul>
					<li><a href="/eventos/listar">Listar</a></li>
					<li><a href="/eventos/form">Cadastrar</a></li>
				</ul>
			</li>
			<li>Inscrições
				<ul>
					<li><a href="/inscricoes/listar">Listar</a></li>
					<li><a href="/inscricoes/form">Cadastrar</a></li>
				</ul>
			</li>
			<li>Submissões de trabalhos e palestras
				<ul>
					<li><a href="/submissoes/listar">Listar</a></li>
					<li><a href="/submissoes/form">Cadastrar</a></li>
				</ul>
			</li>
		</ul>
	</nav>

	<main>
	{% block main %}{% endblock %}
	</main>
</body>
</html>